@if (todoList.length > 0) {
<table class="table table-dark table-striped-columns text-center">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Complete</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    @for (todo of todoList; track $index) {
    <!-- <tr> -->
    <!-- <app-todo
      [todo]="todo"
      (sendCompleteTodoId)="receiveCompleteTodoId($event)"
      (sendDeleteTodoId)="receiveDeleteTodoId($event)"
    ></app-todo> -->
    <!-- </tr> -->
    <tr>
      <th>{{ todo.id }}</th>
      @if (todo.status) {
      <td>
        <del>{{ todo.title }}</del>
      </td>
      }@else {
      <td>{{ todo.title }}</td>
      }
      <td>
        <input
          type="checkbox"
          (change)="completeTodo(todo.id)"
          [checked]="todo.status"
        />
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteTodo(todo.id)">
          Delete
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>
}@else {
<div class="text-center">No Todo</div>
}
